<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<dom-module id="gestor-clientes">
    <template>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
     <style>
         :host {
        display: block;
        padding: 10px;
      }
     </style>
        <div class="container">
            <div class="row col-lg-12">
                <h1> Gestor de clientes </h1>
            </div>
            <div class="row col-lg-12" >
                <button class="col-xs-12 col-lg-12 btn btn-success" on-click="obtenerClientes"> Obtener clientes</button>
                <button class="col-xs-12 col-lg-12 btn btn-warning" on-click="agregarClientes"> Crear clientes</button>
            </div>

            <div class="row col-lg-12"</div>
                <table class="table table-striped">
                    <tbody>
                        <template is="dom-repeat" items="{{clientes}}">
                            <tr>
                                <td>
                                    <!-- [[item.CustomerID]] -->
                                    [[item.idCliente]]
                                </td>
                                <td>
                                    <!-- [[item.ContactName]] -->
                                    [[item.nombre]]
                                </td>
                                <td>
                                    <!-- [[item.CompanyName]] -->
                                    [[item.apellido]]
                                </td>
                            </tr>
                        </template>
                    </tbody>
                </table>
            </div>
        </div>
     </template>
     <script>
        /** @customElement     * @polymer     */
        class GestorClientes extends Polymer.Element {
          static get is() { return 'gestor-clientes'; }
          static get properties() {
            return {
              clientes: {
                type: Array,
                notify: true,
              },
              respuesta:{
                  type:Array
              }
            };
          }
          /* obtenerClientes(){
              let request= new XMLHttpRequest();
              const url = "https://services.odata.org/V4/Northwind/Northwind.svc/";
              request.open('GET',url+"Customers", false);
              request.setRequestHeader('Accept', 'application/json');

              request.send();

              this.clientes = JSON.parse(request.responseText).value;
              console.table(this.clientes);
          }*/
          obtenerClientes(){
            let request= new XMLHttpRequest();
            this.mensaje();
              const url = "http://localhost:3000/V01/Clientes";
              request.open('GET',url, false);
              request.setRequestHeader('Accept', 'application/json');
              request.send();

              this.clientes = JSON.parse(request.responseText);
              console.table(this.clientes);
          }

          mensaje(){
            console.log("MENSAJE");
          }
          /* agregarClientes(){
            let request= new XMLHttpRequest();
              const url = "https://services.odata.org/V4/Northwind/Northwind.svc/";
              request.open('POST',url+"Customers", false);
              request.setRequestHeader('Accept', 'application/json');
              request.setRequestHeader('Content-Type', 'application/json');

              let nuevoCliente = {"CustomerID": "12345","ContactName": "Pepe","CompanyName": "Pepes bar"};
              let body = JSON.stringify(nuevoCliente);

              request.send(body);

            this.respuesta = request.responseText;
              // this.clientes = JSON.parse(request.responseText).value;
              // console.table(this.clientes);
          }*/

          agregarClientes(){
            let request= new XMLHttpRequest();
              const url = "https://services.odata.org/V4/Northwind/Northwind.svc/";
              request.open('POST',url+"Customers", false);
              request.setRequestHeader('Accept', 'application/json');
              request.setRequestHeader('Content-Type', 'application/json');

              let nuevoCliente = {"CustomerID": "12345","ContactName": "Pepe","CompanyName": "Pepes bar"};
              let body = JSON.stringify(nuevoCliente);

              request.send(body);

            this.respuesta = request.responseText;
              /* this.clientes = JSON.parse(request.responseText).value; */
              /* console.table(this.clientes); */
          }

        }

        window.customElements.define(GestorClientes.is, GestorClientes);
      </script>
</dom-module>
