<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

Access-Control-Allow-Origin:*
Access-control-Allow-Header:*
Origin, X-Requested-With,Content-Type, Accept:*

<dom-module id="login-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>
  <template is="dom-if" if="[[!logado]]">
      <!--hidden$={{logado}}  hidden$={{registraUsuario}} hidden$={{consultaBeneficios}} -->
  <div class="container" >
      <div class="row" >
          <h1>Ingreso a la Aplicacion</h1>
          email: <input type="email" value="{{email::input}}">
          password: <input type="password" value="{{password::input}}">

          <button on-click="login" class="btn btn-success">Ingresar</button>
          <button on-click="registrauser" class="btn btn-success">Registar</button>
          <button on-click="vervalores" class="btn btn-success">Valores</button>
      </div>
    </div>
  </template>

  <template is="dom-if" if="[[!registraUsuario]]">
  <div class="container" >
    <div class="row" >
      <span>BIENVENIDO </span>
        <h1>REGISTRO DE USUARIOS  </h1>
        <div class="row col-lg-12"</div>
            <table class="table table-striped">
                <tbody>
                  <tr>
                      <td>
                        Nombre: <input type="text" value="{{nombre::input}}">
                    </td>
                    <td>
                      Apellido Paterno: <input type="text" value="{{ap::input}}">
                    </td>
                    <td>
                      Apellido Materno: <input type="text" value="{{am::input}}">
                    </td>
                    <td>
                      Email: <input type="text" value="{{email::input}}">
                    </td>
                    <td>
                  Password: <input type="password" value="{{password::input}}">
                </td>
              </tr>
            </tbody>
        </table>
        <button on-click="guardar" class="btn btn-success">Guardar</button>
        <button on-click="cancelar" class="btn btn-success">Regresar</button>
      </div>
    </div>

  </template>

  <template is="dom-if" if="[[!consultaBeneficios]]">
  <div class="container" >
      <div class="row" >
          <span>BIENVENIDO [[this.email]]</span>
          <h1>BIENVENIDO [[email]]</h1>

          <input type="text" name="emailglobal" value=[[emailglobal]]>
          <table class="table table-striped">
            <tbody>
            <template is="dom-repeat" items="{{Ciudad}}">
              <tr>
                  <span>Ciudad de: </span>
              </tr>
                <tr>
                    <td>
                        [[item.name]]
                    </td>
                    <td>
                        [[item.capital]]
                    </td>
                </tr>
            </template>
          </tbody>
        </table>

          <button class="col-xs-12 col-lg-12 btn btn-success" on-click="obtenerBeneficios">Obtener Beneficios</button>

        <div class="row col-lg-12"</div>
            <table class="table table-striped">
                <tbody>
                    <template is="dom-repeat" items="{{Beneficios}}">
                        <tr>
                            <td>
                                [[item.email]]
                            </td>
                            <td>
                                [[item.beneficio]]
                            </td>
                            <td>
                                [[item.importe]]
                            </td>
                        </tr>
                    </template>
                </tbody>
            </table>
          </div>
      </div>
  </template>
<!--
    <div class="container" hidden$={{!registraUsuario}}>
      <span>REGISTRO DE USUARIOS</span>

      Nombre: <input type="text" value="{{nombre::input}}">
      Apellido Paterno: <input type="text" value="{{ap::input}}">
      Apellido Materno: <input type="text" value="{{am::input}}">
      Email: <input type="text" value="{{email::input}}">
      Password: <input type="password" value="{{password::input}}">

      <button on-click="guardar" class="btn btn-success">Guardar</button>
      <button on-click="cancelar" class="btn btn-success">Regresar</button>

    </div>
-->



<iron-ajax
id="doLogin"
url="http://localhost:3000/v2/login"
content-type="application/json"
crossDomain:true
dataType:'jsonp'
method="POST"
handle-as="json"
headers="Access-Control-Allow-Headers: *"
on-response="manageAJAXResponse"
on-error="showError">


<iron-ajax
id="doGuardar"
url="http://localhost:3000/v2/guardar"
content-type="application/json"
crossDomain:true
dataType:'jsonp'
method="POST"
handle-as="json"
headers="Access-Control-Allow-Headers: *"
on-response="showOkGuardar"
on-error="showErrorGuardar">


<iron-ajax
id="doBeneficios"
url="http://localhost:3000/v2/beneficios"
content-type="application/json"
crossDomain:true
dataType:'jsonp'
method="POST"
handle-as="json"
headers="Access-Control-Allow-Headers: *"
on-response="showOkBeneficios"
on-error="showErrorBeneficios">


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginApp extends Polymer.Element {
      static get is() { return 'login-app'; }
      static get properties() {
        return {
          email: {
            type: String
          },
          emailglobal: {
            type: String
          },
          password: {
            type: Number,
          },
          logado:{
            type: Boolean,
            value:false
          },
          registraUsuario:{
            type: Boolean,
            value:false
          },
          consultaBeneficios:{
            type: Boolean,
            value:false
          },
          nombre: {
            type: String
          },
          ap: {
            type: String
          },
          am: {
            type: String
          },
          beneficio: {
            type: String
          },
          importe: {
            type: Number
          },
          Beneficios: {
            type: Array,
            notify: true,
          },
          Ciudad: {
            type: Array,
            notify: true,
          },
        };
      }

      ready(){
        super.ready();
        //this.logado = true;
      this.registraUsuario = true ;
      this.consultaBeneficios =true;
      }

      obtenerBeneficios(){
        console.log("Front obtenerBeneficios: " + this.emailglobal);
        let request= new XMLHttpRequest();
          const url = "http://localhost:3000/v2/Beneficios";

          request.open('GET',url, false);

          //request.setRequestHeader("Accept", "application/json");
          //request.setRequestHeader("Content-Type", "application/json");

          //request.setRequestHeader('Accept', 'application/json');
          request.setRequestHeader("emailG", this.emailglobal);
          request.send();

          this.Beneficios = JSON.parse(request.responseText);
          console.table(this.Beneficios);
          //this.obtenerCiudad();
      }


      ///Consume API Publica
      obtenerCiudad(){
        console.log("Front obtenerCiudad: ");
        let request= new XMLHttpRequest();
        const url = "http://localhost:3000/V01/Ciudad";
        request.open('GET',url, false);
        request.setRequestHeader('Accept', 'application/json');
        request.send();

        this.Ciudad = JSON.parse(request.responseText);
        console.table(this.Ciudad);
      }

      //Obtener beneficios YA SIRVE PARA TRAER TODOS LOS BENEFICIOS
      /*
      obtenerBeneficios(){
        console.log("obtenerBeneficios");
        let request= new XMLHttpRequest();
          const url = "http://localhost:3000/v2/Beneficios";
          request.open('GET',url, false);
          request.setRequestHeader('Accept', 'application/json');
          request.send();

          this.Beneficios = JSON.parse(request.responseText);
          console.table(this.Beneficios);
      }*/

      //Obtener beneficios con IRON-MAN
      /*
      obtenerPensionados(){
        var loginData = {
          "emailglobal":this.emailglobal,
        };
        console.log("obtenerPensionados: " + " this.emailglobal: " + this.emailglobal);

        this.$.doBeneficios.body = JSON.stringify(loginData);
        this.$.doBeneficios.generateRequest();
        console.log('peticion enviada por iron-ajax');
      }*/

      //Login
      login(){
        var loginData = {
          "email":this.email,
          "password":this.password
        };
        console.log(this.email + " " + this.password);

        this.$.doLogin.body = JSON.stringify(loginData);
        this.$.doLogin.generateRequest();
        console.log('peticion enviada por iron-ajax');
      }

      cancelar(){
        console.log('Boton cancelar');
        this.limpiaEmailPassword();
        this.registraUsuario=true;
        this.consultaBeneficios=true;
        this.logado=false;
      }

      registrauser(){
        console.log('Registrar Usuario');
        this.limpiaEmailPassword();

        //this.vervalores();
        //this.logado=true;

        //this.logado=true;
        //this.consultaBeneficios=true;
        //this.registraUsuario=false;
        let registraUsuario = false;
        let consultaBeneficios = true;
        let logado = true
        this.set('logado', JSON.parse(JSON.stringify(logado)));
        this.set('registraUsuario', JSON.parse(JSON.stringify(registraUsuario)));
        this.set('consultaBeneficios', JSON.parse(JSON.stringify(consultaBeneficios)));
//        console.warn(' logado: ', this.logado, ' registraUsuario: ', this.registraUsuario, ' consultaBeneficios: ', this.consultaBeneficios );
      }

      vervalores(){
        this.registraUsuario=false;
        this.logado=false;
        this.consultaBeneficios=false;
        //console.log(this.registraUsuario);
        //console.log(this.logado);
      }

      guardar(){
        console.log('Inicio GuardarUsuario');
        var guardaData = {
          "nombre":this.nombre,
          "ap":this.ap,
          "am":this.am,
          "email":this.email,
          "password":this.password
        };

        console.log(this.nombre + " " + this.ap + " " + this.am + " " + this.email + " " + this.password);

        this.$.doGuardar.body = JSON.stringify(guardaData);
        this.$.doGuardar.generateRequest();
        console.log('peticion enviada por iron-ajax');

      }

/**
      GuardarUsuario(){
        console.log('Inicio GuardarUsuario');
        let request= new XMLHttpRequest();
          //const url = "https://services.odata.org/V4/Northwind/Northwind.svc/";
          const url = "https://api.mlab.com/api/1/databases/ahernandez/collections/Pensionados?apiKey=GOLqWa850qO8tsdCUdby6eq9eKPInBkt";
          request.open('POST',url+"Pensionados", false);
          request.setRequestHeader('Accept', 'application/json');
          request.setRequestHeader('Content-Type', 'application/json');

          let nuevoPensionado = {"CustomerID": "12345","ContactName": "Pepe","CompanyName": "Pepes bar"};
          let body = JSON.stringify(nuevoPensionado);

          request.send(body);

        this.respuesta = request.responseText;

      }
*/
      manageAJAXResponse(data){
        console.log("respuest recibida del servidor");
        this.emailglobal=this.email;
        this.limpiaEmailPassword()
        this.consultaBeneficios=false;
        this.registraUsuario=true;
        this.logado=true;


        /*let consultaBeneficios = false;
        let registraUsuario = true;

        let logado = true
        this.set('logado', JSON.parse(JSON.stringify(logado)));
        this.set('registraUsuario', JSON.parse(JSON.stringify(registraUsuario)));
        this.set('consultaBeneficios', JSON.parse(JSON.stringify(consultaBeneficios)));
        console.warn(' logado: ', this.logado, ' registraUsuario: ', this.registraUsuario, ' consultaBeneficios: ', this.consultaBeneficios );
      */  this.obtenerCiudad();
      }

      showError(error){
        console.log('Hubo un error en la peticion: ' + error);
        this.limpiaEmailPassword()
        alert ('Los datos ingresados son incorectos o el usuario no existe');
      }

      limpiaEmailPassword(){
        this.email=""
        this.password=""
      }

      showOkGuardar(data){
            console.log("respuest recibida del servidor para guardar");
            alert ('Se Guardo Correctamente el Usuario: ' + this.nombre + ' ' + this.ap + ' ' + this.am);
            this.nombre=""
            this.ap=""
            this.am=""
            this.email=""
            this.password=""
          }

      showErrorGuardar(error){
      console.log('Hubo un error en la peticion: ' + error);
      alert ('No se Registro Correctamente el Usuario');
      }

      showOkBeneficios(data){
            console.log("respuest recibida del servidor para beneficios");
          }

      showErrorBeneficios(error){
      console.log('Hubo un error en la peticion: ' + error);
      alert ('No se encontraron beneficios');
      }

    }

    window.customElements.define(LoginApp.is, LoginApp);
  </script>
</dom-module>
