<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

Access-Control-Allow-Origin:*
Access-control-Allow-Header:*
Origin, X-Requested-With,Content-Type, Accept:*

<dom-module id="login-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style>
      :host {
        display: block;
      }
    </style>
  <template is="dom-if" if="[[!logado]]">
  <div class="container" >
      <div class="row" >
          <img width="80px" height="200px" class="col-xs-12 col-lg-8" src="https://www.bbva.mx/content/dam/public-web/mexico/images/imagenes-seguros/logo-bbva-pensiones.png.img.1600.1570215272015.png" alt="" align-items-center>

          <div class="row col-lg-12"</div>
            <table class="table table-bordere">
                <tbody class="text-center">
                  <tr><h1></h1></tr>
                  <tr>
                    <td>
                      <h1>Sistema de Consulta de Beneficios</h1>
                    </td>
                  </tr>
                </tbody>
              </table>

              <div class="row col-lg-12"</div>
                  <table class="table table-striped">
                      <tbody>
                    <tr>
                        <td>
                          Email: <input type="email" value="{{email::input}}" placeholder="Captura tu Email">
                        </td>
                        <td>
                          Password: <input type="password" value="{{password::input}}" placeholder="Password">
                        </td>
                      </tr>
                    </tbody>
                </table>
          <button on-click="login" class="btn btn-success">Ingresar</button>
          <button on-click="registrauser" class="btn btn-success">Registar</button>
          <!--
          <button on-click="vervalores" enabled="true" class="btn btn-success">Valores</button>
        -->
      </div>
    </div>
  </template>


  <template is="dom-if" if="[[!registraUsuario]]">
  <div class="container" >
    <div class="row" >
      <img width="80px" height="200px" class="col-xs-12 col-lg-8" src="https://www.bbva.mx/content/dam/public-web/mexico/images/imagenes-seguros/logo-bbva-pensiones.png.img.1600.1570215272015.png" alt="" align-items-center>
        <div class="row col-lg-12"</div>

        <table class="table table-bordered">
          <tbody class="text-center">
            <tr>
              <td>
                <h1>Registro de Usuarios </h1>
              </td>
            </tr>
        </tbody>
      </table>

        <div class="row col-lg-12"</div>
            <table class="table table-striped">
                <tbody>
                  <tr>
                      <td>
                      Nombre: <input type="text" value="{{nombre::input}}" placeholder="Nombre" >
                    </td>
                    <td>
                      Apellido Paterno: <input type="text" value="{{ap::input}}" placeholder="Apellido Paterno" >
                    </td>
                    <td>
                      Apellido Materno: <input type="text" value="{{am::input}}" placeholder="Apellido Materno" >
                    </td>
                    <td>
                      Email: <input type="text" value="{{email::input}}" placeholder="Email" >
                    </td>
                    <td>
                      Password: <input type="password" value="{{password::input}}" placeholder="Password" >
                </td>
              </tr>
            </tbody>
        </table>
        <!--
        <button on-click="guardar" class="btn btn-success">Guardar</button>
        -->
        <button on-click="cancelar" class="btn btn-success">Regresar</button>
        <button on-click="guardarbcrypt" class="btn btn-success">Guardar</button>
      </div>
    </div>
  </template>


  <template is="dom-if" if="[[!consultaBeneficios]]">
  <div class="container" >
      <div class="row" >
        <img width="80px" height="200px" class="col-xs-12 col-lg-8" src="https://www.bbva.mx/content/dam/public-web/mexico/images/imagenes-seguros/logo-bbva-pensiones.png.img.1600.1570215272015.png" alt="" align-items-center>
        <!--
          <h1>BIENVENIDO: [[emailglobal]]</h1>
          <input type="text" name="emailglobal" value=[[emailglobal]]>
        -->
          <table class="table table-striped">
            <tbody>
            <template is="dom-repeat" items="{{Ciudad}}">
              <tr>
                  <h1>BIENVENIDO: [[emailglobal]]</h1>
              </tr>
                <tr>
                    <td>
                        Ciudad de:  [[item.name]],   [[item.capital]]
                    </td>
                </tr>
            </template>
          </tbody>
        </table>
        <button class="col-xs-12 col-lg-12 btn btn-success" on-click="obtenerBeneficios">Obtener Beneficios</button>

        <div class="row col-lg-12"</div>
            <table class="table table-striped">
                <tbody>
                    <template is="dom-repeat" items="{{Beneficios}}">
                        <tr>
                            <td>
                                [[item.email]]
                            </td>
                            <td>
                                [[item.beneficio]]
                            </td>
                            <td>
                                [[item.importe]]
                            </td>
                        </tr>
                    </template>
                </tbody>
            </table>
          </div>
      </div>
      <button on-click="cancelar" class="btn btn-success">Salir</button>
  </template>


<iron-ajax
id="doLogin"
url="http://localhost:3000/v2/login"
content-type="application/json"
crossDomain:true
dataType:'jsonp'
method="POST"
handle-as="json"
headers="Access-Control-Allow-Headers: *"
on-response="manageAJAXResponse"
on-error="showError">

<iron-ajax
id="doGuardar"
url="http://localhost:3000/v2/guardar"
content-type="application/json"
crossDomain:true
dataType:'jsonp'
method="POST"
handle-as="json"
headers="Access-Control-Allow-Headers: *"
on-response="showOkGuardar"
on-error="showErrorGuardar">

<iron-ajax
id="doGuardarbcrypt"
url="http://localhost:3000/v2/guardarbcrypt"
content-type="application/json"
crossDomain:true
dataType:'jsonp'
method="POST"
handle-as="json"
headers="Access-Control-Allow-Headers: *"
on-response="showOkGuardarbcrypt"
on-error="showErrorGuardarbcrypt">

<iron-ajax
id="doBeneficios"
url="http://localhost:3000/v2/beneficios"
content-type="application/json"
crossDomain:true
dataType:'jsonp'
method="POST"
handle-as="json"
headers="Access-Control-Allow-Headers: *"
on-response="showOkBeneficios"
on-error="showErrorBeneficios">


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginApp extends Polymer.Element {
      static get is() { return 'login-app'; }
      static get properties() {
        return {
          email: {
            type: String
          },
          emailglobal: {
            type: String
          },
          password: {
            type: Number,
          },
          logado:{
            type: Boolean,
            value:false
          },
          registraUsuario:{
            type: Boolean,
            value:false
          },
          consultaBeneficios:{
            type: Boolean,
            value:false
          },
          nombre: {
            type: String
          },
          ap: {
            type: String
          },
          am: {
            type: String
          },
          beneficio: {
            type: String
          },
          importe: {
            type: Number
          },
          Beneficios: {
            type: Array,
            notify: true,
          },
          Ciudad: {
            type: Array,
            notify: true,
          },
        };
      }

      ready(){
        super.ready();
        this.registraUsuario = true ;
        this.consultaBeneficios =true;
      }

      obtenerBeneficios(){
        //console.log("Front obtenerBeneficios: " + this.emailglobal);
        let request= new XMLHttpRequest();
          const url = "http://localhost:3000/v2/Beneficios";

          request.open('GET',url, false);
          request.setRequestHeader("emailG", this.emailglobal);
          request.send();

          this.Beneficios = JSON.parse(request.responseText);
          console.table(this.Beneficios);
      }


      ///Consume API Publica
      obtenerCiudad(){
        let request= new XMLHttpRequest();
        const url = "http://localhost:3000/V01/Ciudad";
        request.open('GET',url, false);
        request.setRequestHeader('Accept', 'application/json');
        request.send();

        this.Ciudad = JSON.parse(request.responseText);
      }

      //Login
      login(){
        var loginData = {
          "email":this.email,
          "password":this.password
        };
        //console.log(this.email + " " + this.password);
        this.$.doLogin.body = JSON.stringify(loginData);
        this.$.doLogin.generateRequest();
        //console.log('peticion enviada por iron-ajax');
      }

      cancelar(){
        //console.log('Boton cancelar');
        this.limpiaEmailPassword();
        this.registraUsuario=true;
        this.consultaBeneficios=true;
        this.logado=false;
        this.Beneficios=""
      }

      registrauser(){
        //console.log('Registrar Usuario');
        this.limpiaEmailPassword();

        let registraUsuario = false;
        let consultaBeneficios = true;
        let logado = true
        this.set('logado', JSON.parse(JSON.stringify(logado)));
        this.set('registraUsuario', JSON.parse(JSON.stringify(registraUsuario)));
        this.set('consultaBeneficios', JSON.parse(JSON.stringify(consultaBeneficios)));
//        console.warn(' logado: ', this.logado, ' registraUsuario: ', this.registraUsuario, ' consultaBeneficios: ', this.consultaBeneficios );
      }

      vervalores(){
        this.registraUsuario=false;
        this.logado=false;
        this.consultaBeneficios=false;
      }

      guardarbcrypt(){
        //console.log('Inicio GuardarUsuario guardarbcrypt');

        var guardaData = {
          "nombre":this.nombre,
          "ap":this.ap,
          "am":this.am,
          "email":this.email,
          "password":this.password
        };

          if (!/^([A-Za-z])*$/.test(this.nombre) || this.nombre.length == 0){
            alert("Capture un Nombre Correcto");
            return false;
          }

          if (!/^([A-Za-z])*$/.test(this.ap) || this.ap.length == 0){
            alert("Capture un Apellido Paterno Correcto");
            return false;
          }

          if (!/^([A-Za-z])*$/.test(this.am) || this.am.length == 0){
            alert("Capture un Apellido Materno Correcto");
            return false;
          }

          if (!/^([A-Za-z0-9.@_-])*$/.test(this.email) || this.email.length == 0){
            alert("Capture un Email Correcto");
            return false;
          }

          if (this.password.length == 0){
            alert("Capture un password Correcto");
            return false;
          }
        this.$.doGuardarbcrypt.body = JSON.stringify(guardaData);
        this.$.doGuardarbcrypt.generateRequest();
      }

      manageAJAXResponse(data){
        this.emailglobal=this.email;
        this.limpiaEmailPassword()
        this.consultaBeneficios=false;
        this.registraUsuario=true;
        this.logado=true;
        this.obtenerCiudad();
      }

      showError(error){
        this.limpiaEmailPassword()
        alert ('Los datos ingresados son incorectos o el usuario no existe');
      }

      limpiaEmailPassword(){
        this.nombre=""
        this.ap=""
        this.am=""
        this.email=""
        this.password=""

      }

      showOkGuardar(data){
        alert ('Se Guardo Correctamente el Usuario: ' + this.nombre + ' ' + this.ap + ' ' + this.am);
        this.nombre=""
        this.ap=""
        this.am=""
        this.email=""
        this.password=""
          }

      showErrorGuardar(error){
        alert ('No se Registro Correctamente el Usuario');
      }

      showOkGuardarbcrypt(data){
        alert ('Se Guardo Correctamente el Usuario :' + this.nombre + ' ' + this.ap + ' ' + this.am);
        this.nombre=""
        this.ap=""
        this.am=""
        this.email=""
        this.password=""
          }

      showErrorGuardarbcrypt(error){
        alert ('No se Registro Correctamente el Usuario con bcrypt');
      }

      showOkBeneficios(data){
        console.log("respuest recibida del servidor para beneficios");
      }

      showErrorBeneficios(error){
        alert ('No se encontraron beneficios');
      }

    }

    window.customElements.define(LoginApp.is, LoginApp);
  </script>
</dom-module>
